<div class="navbar">
	<div class="topbar-wrapper">
		<div class="container">
			<div class="topbar">
				<ul class="cm-res-toggle">
					<li>
						<a href="#">Commercial</a>
					</li>
					<li>
						<a href="#">Residential</a>
					</li>
				</ul>
				<ul class="nvbr-list-options">
					<li>
						<a href="#">Hong Kong</a>
					</li>
					<li>
						<a href="#">Valuation</a>
					</li>
					<li>
						<a href="#">Mortgage Calculator</a>
					</li>
					<li>
						<a href="#">Blog</a>
					</li>
					<li>
						<a href="#">Build Your Business</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="subheader-wrapper">
		<div class="container">
			<div class="topbar">
				<amp-img
				  alt="A view of the sea"
				  src="https://i.ibb.co/tMYMRK8/download.png"
				  width="100"
				  height="36"
				  layout="responsive">
				</amp-img>
				<ul class="nvbr-list-options">
					<li>
						<a href="#">Buy</a>
					</li>
					<li>
						<a href="#">Rent</a>
					</li>
					<li>
						<a href="#">Overseas Properties </a>
					</li>
					<li>
						<a href="#">Serviced Apartments </a>
					</li>
					<li>
						<a href="#">Coliving Spaces </a>
					</li>
					<li>
						<a href="#">New Development </a>
					</li>
				</ul>
				<ul class="reg-options">
					<li>
						<a href="">Sign In <i class="fa fa-lock"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="main-page">
	<div class="container">
		<h1 class="page-main-haeding">
      Cherry Crest
    </h1>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-9">
				<div class="mapping-text-box">
					<div class="page--title">
		        <div class="page--title-text">
		          Building Details
		        </div>
		        <div class="page-section-title-bar__container">
		          <div class="page-section-title-bar__line"></div>
		        </div>
		      </div>
		      <div class="page-para">
		      	<p>
		      		Cherry Crest (中文：翠麗軒) is a residential building situated in Sheung Wan, Hong Kong Island. The building was developed by Yu Tai Hing Company Ltd and construction was completed in 2005. The building provides 64 housing units ranging from 995 to 1198 sq. foots. A 5000 sq. foot private club, providing different facilities such as swimming pools and gym, is also included and offered in the building.
		      	</p>
		      </div>
		    </div>
		    <div class="mapping-text-box">
					<div class="page--title">
		        <div class="page--title-text">
		          Features & Facts	
		        </div>
		        <div class="page-section-title-bar__container">
		          <div class="page-section-title-bar__line"></div>
		        </div>
		      </div>
		      <div class="page-para">
		      	
		      </div>
		    </div>
			</div>
			<div class="col-3">
				<div class="building_summary_page--side">
					<div class="following--box">
	          <div class="following--box--heading">
	            Latest transactions and listings in Cherry Crest
	          </div>
	          <div class="following--box--body">
	            <div class="following--box--text">
	              <p>Don’t miss out! keep up with the latest transactions and listings near Cherry Crest</p>
	            </div>
	            <div class="following--box--action">
	              <span class="following--button follow-button follow-button--default js-follow-button-with-modal follow-button_building_92470" data-building-id="92470" data-follow-type="residential" id="follow-button_building_92470">
	                <span class="follow-button-content on-not-following following--button__content">
	                  <a class="following--button__link following--button__btn-create GTM-tracking-follow-building" rel="nofollow" href="#void">Follow Now </a>
	                </span>
	              </span>
	            </div>
	          </div>
	        </div>
	      </div>
			</div>
		</div>
	</div>
</div>


<div class="normal-link">
	<a href="/index.amp">Go to Amp link</a>
</div>
