<% provide(:title, 'AMP page') %>
<div class="navbar">
	<div class="topbar-wrapper">
		<div class="container">
			<div class="topbar">
				<ul class="cm-res-toggle">
					<li>
						<a href="">Commercial</a>
					</li>
					<li>
						<a href="">Residential</a>
					</li>
				</ul>
				<ul class="nvbr-list-options">
					<li>
						<a href="">Hong Kong</a>
					</li>
					<li>
						<a href="">Valuation</a>
					</li>
					<li>
						<a href="">Mortgage Calculator</a>
					</li>
					<li>
						<a href="">Blog</a>
					</li>
					<li>
						<a href="">Build Your Business</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>