development:
  adapter: postgresql
  encoding: unicode
  database: spacious-amp
  host: localhost
  username: postgres
  password: postgres
  pool: 5


production:
  adapter: postgresql
  encoding: unicode
  database: spacious-amp
  host: localhost
  username: postgres
  password: postgres
  pool: 5
