<!doctype html>
<%# <html amp> is also valid markup %>
<html ⚡>
  <head>
    <title><%= yield :title %></title>
    <meta charset='utf-8'>
    <meta
      name="viewport"
      content="width=device-width,minimum-scale=1,initial-scale=1"
    />
    <meta content="8C50E571B35D9D11F1E4B5764BA49DC8" name="msvalidate.01" />
    <title>Cherry Crest 翠麗軒 Property For Sale or Rent, Poho｜Spacious</title> 
    <style amp-custom>

      body {
        font-family: 'Lato', sans-serif;
      }

      .modal-scrollable {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;
        background: rgba(0, 0, 0, 0.7);
        z-index: 1050;
      }

      .modal-scrollable .modal {
        background: #fff;
        width: 560px;
        transform: translate(62%, 130%);
      }

      .modal-scrollable .modal .modal-header {
        background-color: #2b476d;
        border-bottom: 0;
        padding: 15px;
        color: #fff;
        font-size: 18px;
        line-height: 18px;
        font-weight: 400;
      }

      .modal-scrollable .modal-body {
        padding: 15px;
      }

      .modal-scrollable .modal-body .modal-text {
        font-size: 15px;
        line-height: 20px;
        color: #333;
      }

      .modal-body-actions {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .modal-body-actions .btn-close, .btn-follow {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        color: #858596;
        font-weight: 400;
        padding: 0 12px;
        height: 38px;
        text-decoration: none;
        margin: 0 20px 0 0;
        font-size: 16px;
        cursor: pointer;
        border: none;
      }

      .modal-body-actions .btn-follow {
        transition: background-color .2s linear;
        background-color: #ff9100;
        color: #fff;
      }

      .modal-body-actions .btn-follow:hover {
        transition: background-color .2s linear;
        background-color: #e68300;
      }

      .container {
        display: block;
        margin: auto;
        width: 1200px;
      }

      .sidebar-content-list .navbar {
        width: 100%;
      }

      .sidebar-content-list .region-navbar {
        width: 100%;
      }

      .amp-sidebar-toolbar-target-shown {
        display: none;
      }

      .mobile-navbar {
        display: none;
      }

      .topbar-wrapper {
        background-color: #f5f5f5;
        padding-top: 7px;
        padding-bottom: 7px;
      }

      .topbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .topbar-left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      .topbar-left .dropdown {
        margin: 0;
      }

      .topbar-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 13px;
        line-height: 1.3;
        text-align: left;
      }

      .dropdown {
        display: inline-block;
        position: relative;
        margin: 0 20px 0 0;
      }

      .topbar-right-link {
        margin: 0 20px 0 0;
        color: #6c83a5;
        font-weight: 700;
        transition: color .2s linear,background-color .2s linear;
      }
      .topbar-right-link:hover {
        color: #ff9100;
      }
      .topbar-right-link:nth-last-of-type(1) {
        margin: 0;
      }

      .dropdown summary {
        list-style: none;
        cursor: pointer;
      }
      .dropdown summary:focus {
        outline: none;
      }
      .dropdown summary::-webkit-details-marker {
        display: none;
      }
      .dropdown details[open] summary::before {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        cursor: default;
      }
      .dropdown .dropdown-trigger {
        color: #2b476d;
        font-weight: 700;
        transition: color .2s linear,background-color .2s linear;
      }
      .dropdown .dropdown-trigger:hover, .dropdown .dropdown-trigger:focus {
        color: #ff9100;
        outline: none;
      }

      .dropdown .dropdown-content {
        position: absolute;
        min-inline-size: max-content;
        right: 0;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 6px;
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
        display: flex;
        flex-direction: column;
      }

      .dropdown .dropdown-content-link {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 20px;
        color: #333;
        white-space: nowrap;
        text-decoration: none;
        transition: color .2s linear,background-color .2s linear;
      }
      .dropdown .dropdown-content-link:hover {
        color: #fff;
        background-color: #f58b00;
        background-image: linear-gradient(180deg,#ff9100,#e68300);
      }

      .topbar ul {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 14px;
      }

      .cm-res-toggle {
        padding-top: 2px;
        display: flex;
        border: 1px solid #2b476d;
        padding-left: 0px;
        height: fit-content;
        padding-left: 5px;
        padding-right: 3px;
        border-radius: 47px;
      }

      .cm-res-toggle li {
        list-style: none;
        height: 20px;
      }

      .cm-res-toggle li a{
        text-decoration: none;
      }

      .cm-res-toggle li:first-child {
        margin-right: 5px;
      }

      .cm-res-toggle li:first-child a{
        color: #888;
      }

      .cm-res-toggle li:nth-child(2) a {
        margin-left: 5px;
      }

      .cm-res-toggle li:nth-child(2) a{
        background: #2b476d;
        color: #fff;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 40px;
        padding-bottom: 1px;
      }

      .nvbr-list-options {
        padding-left: 0px;
        margin-left: 30px;
        display: flex;
        margin-bottom: 0px;
        list-style: none;
      }

      .nvbr-list-options li{
        margin-right: 30px
      }

      .nvbr-list-options li a{
        text-decoration: none;
        color: #2b476d;
        line-height: 24px;
        font-weight: 700;
        height: 24px;
        font-size: 12px;
        font-size: .8666666667rem;
        line-height: 1.3;
      }

      .subheader-wrapper {
        background: #1b3861;
        padding-top: 12px;
        padding-bottom: 12px;
      }

      .subheader-wrapper amp-img {
        width: 100px;
      }

      .subheader-wrapper .nvbr-list-options {
        height: fit-content;
      }

      .subheader-wrapper .nvbr-list-options li {
        margin: 8px;
        margin-right: 30px;
      }

      .subheader-wrapper ul.nvbr-list-options li a {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        transition: color .2s linear,background-color .2s linear;
      }
      .subheader-wrapper ul.nvbr-list-options li a:hover {
        color: #ff9100;
      }

      .subheader-wrapper .reg-options {
        padding-left: 0px;
        margin-left: auto;
        list-style: none;
      }

      .subheader-wrapper .reg-options li {
        margin: 8px;
      }

      .subheader-wrapper .reg-options li a {
        color: #fff;
        text-decoration: none;
        font-weight: 300;
      }

      .region-navbar {
        font-size: 13px;
        line-height: 1.3;
        background-color: #2c476d;
      }

      .region-navbar ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      .region-navbar ul li {
        display: inline-block;
        color: #fff;
      }
      .region-navbar a {
        padding: 12px 0;
        line-height: 100%;
        display: block;
        color: #fff;
        text-decoration: none;
        transition: color .2s linear,background-color .2s linear;
      }
      .region-navbar a:hover {
        color: #ff9100;
      }
      .region-navbar li.level {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 13px;
        line-height: 1;
      }
      .region-navbar li.level, .region-navbar li.text {
        padding: 12px 0;
        font-weight: 700;
      }

      #modalbox {
        z-index: 10000
      }

      .modalbox {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: fixed;
      }

      .modal_box {
        z-index: 99;
        transition: all .3s ease-in-out;
        width: 380px;
      }

      .modal_box .warn {
        border-radius: 0px;
        background: #fff;
      }

      .warn .modal-header {
        padding: 24px 32px;
        border-bottom: 1px solid #d8d8d8;
        color: #333;
        text-align: left;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .warn .modal-header amp-img {
        height: 24px;
        width: 24px;
        cursor: pointer;
      }

      .warn .modal-header .close-modal {
        outline: none;
      }

      .warn .modal-body{
        padding-bottom: 32px;
      }

      .modal-body .auth-mode {
        overflow-y: auto;
        max-height: calc(100vh - 206px);
        padding: 24px 32px 0;
        box-sizing: border-box;
      }
      .modal-body .auth-mode::-webkit-scrollbar {
        display: none;
      }

      .auth-mode-email .auth-mode-input {
        margin: 0 0 12px;
        height: 48px;
        border-radius: 3px;
        font-size: 16px;
        line-height: 48px;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        border: 1px solid #aeaeae;
      }

      .auth-signup-btn {
        border: 0;
        background-color: #ff9100;
        color: #fff!important;
        padding: 0;
        margin-bottom: 0;
        border-radius: 3px;
        width: 100%;
        height: 48px;
        font-size: 18px;
        line-height: 48px;
      }
      .auth-signup-btn:hover, .auth-signup-btn:focus {
        outline: none;
        background-color: #e68300;
      }

      .cell-section-omniauth {
        padding-top: 10px;
      }

      .cell-section-omniauth .or-text {
        padding-bottom: 10px;
        font-size: 16px;
        line-height: 1.3;
        color: #929395;
        text-align: center;
      }

      .omniauth-provider-links {
        position: relative;
      }

      .omniauth-provider-links .google-signin, .tracking-facebook {
        color: #646567;
        position: relative;
        font-size: 16px;
        padding: 0 20px;
        line-height: 48px;
        height: 48px;
        width: 100%;
        border: 1px solid #ccc;
        text-align: left;
        margin-bottom: 12px;
        display: flex;
        box-sizing: border-box;
        text-decoration: none;
        cursor: pointer;
        border-radius: 3px;
        transition: background-color .2s linear;
      }
      .omniauth-provider-links .google-signin:hover, .tracking-facebook:hover {
        background-color: #f2f2f2;
        color: #333;
        transition: background-color .2s linear;
      }

      .omniauth-provider-links .tracking-facebook {
        margin: 0;
      }

      .omniauth-provider-links .google-signin amp-img, .tracking-facebook amp-img {
        margin-right: 16px;
        vertical-align: top;
        height: 48px;
        line-height: 48px;
        width: 23px;
      }

      .auth-mode-action {
        margin-top: 24px;
        font-size: 14px;
        line-height: 1.3;
        color: #929395;
        text-align: center;
      }

      .auth-mode-action a {
        color: #ff9100;
        margin-left: 5px;
      }

      .auth-footer-terms {
        background-color: #fff;
        margin-top: 24px;
        font-size: 12px;
        line-height: 18px;
        color: #858596;
        text-align: left;
      }

      .auth-footer-terms a {
        color: #2b476d;
        text-decoration: none;
      }
      .auth-footer-terms a:hover {
        text-decoration: none;
      }

      .sign-up-auth {
        position: relative;
        padding-left: 25px;
        margin-top: 12px;
        font-size: 12px;
        line-height: 18px;
        color: #929395;
      }

      .sign-up-input {
        margin: 0;
        position: absolute;
        top: 2px;
        left: 0;
        height: 16px;
        width: 16px;
      }

      .slideInDown {
        -webkit-animation-name: slideInDown;
        animation-name: slideInDown;
        -webkit-animation-duration: .4s;
        animation-duration: .4s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both
      }

      @-webkit-keyframes slideInDown {
        0% {
          -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
          visibility: visible
        }
        100% {
          -webkit-transform: translateY(0);
          transform: translateY(0)
        }
      }

      @keyframes slideInDown {
        0% {
          -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
          visibility: visible
        }
        100% {
          -webkit-transform: translateY(0);
          transform: translateY(0)
        }
      }

      .page-main-haeding{
        font-size: 1.8666666667rem;
        line-height: 1.3;
        font-weight: 700;
        color: #2b476d;
        margin-bottom: 30px;
      }

      .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .col-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
      }

      .col-9 {
        -ms-flex: 0 0 calc(75% - 15px);
        flex: 0 0 calc(75% - 15px);
        max-width: calc(75% - 15px);
      }

      .col-3 {
        -ms-flex: 0 0 calc(25% - 15px);
        flex: 0 0 calc(25% - 15px);
        max-width: calc(25% - 15px);
      }

      .page--title {
        display: flex;
      }

      .page--title  .page--title-text {
        white-space: nowrap;
        font-size: 22px;
        font-size: 1.4666666667rem;
        line-height: 1.3;
        line-height: 34px;
        vertical-align: middle;
        font-weight: 700;
        color: #2b476d;
      }

      .page--title .page-section-title-bar__container {
        border-top: 1px solid #2b476d;
        width: 100%;
        margin-top: 19px;
        margin-left: 34px;
      }

      .page-para p{
        color: #333;
        line-height: 1.3;
        line-height: 1.45;
      }

      .section-summary-table {
        margin: 20px 0 30px;
        max-width: 100%;
        width: 100%;
      }

      .section-summary-table .table-row {
        font-size: 16px;
        line-height: 1.8;
        border: 0;
        margin: 0 0 5px;
        display: flex;
        justify-content: flex-start;
      }
      .section-summary-table .info-head {
        color: #858596;
        width: 120px;
      }
      .section-summary-table .info-text {
        color: #333;
      }

      .icon-box-list {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 1px;
        margin: 0 0 30px;
      }

      .icon-box {
        width: 100px;
        text-align: center;
        font-size: 14px;
        line-height: 1.3;
        color: #868696;
        vertical-align: top;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .icon-box .icon {
        width: 45px;
        cursor: pointer;
        border-radius: 3px;
        transition: background-color .2s linear;
        border: 1px solid #ccc;
        color: #000;
        height: 47px;
        margin: 0 0 10px;
      }
      .icon-box .icon:hover  {
        background-color: #f2f2f2;
        transition: background-color .2s linear;
      }

      .icon-box .icon amp-img {
        height: 100%;
      }

      .following--box {
        box-shadow: 0 2px 4px 0 #ccc;
      }

      .following--box--heading {
        background-color: #2b476d;
        color: #fff;
        padding: 15px;
        font-weight: 500;
        font-size: 17px;
        font-size: 1.1333333333rem;
        line-height: 1.3;
      }

      .following--box--body {
        padding: 15px;
      }

      .following--box--text {
        font-size: 16px;
        color: #333333;
        line-height: 1.3;
        line-height: 1.45;
        padding-bottom: 20px;
      }
      .following--box--action {
        width: 138px;
        margin-left: auto;
        margin-right: auto;
        height: 38px;
        background: #f2913d;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        border-radius: 4px;
        font-size: 16px;
        border: none;
        font-family: 'Lato', sans-serif;
        cursor: pointer;
        transition: color .2s linear,background-color .2s linear;
      }

      .following--box--action:hover, .following--box--action:focus {
        background-color: #e68300;
        outline: none;
      }

      .following--button {
        text-align: center;
        width: 100%;
      }

      .following--button a {
        color: #fff;
        text-decoration: none;
      }

      .amp-custom-carousel4 {
        width: 100%;
        margin: 20px 0 20px;
      }

      

      .amp-custom-carousel4 .carousel-card {
        width: 23.4042553191%;
        position: relative;
        box-shadow: 0 2px 4px 0 #ccc;
        border: 1px solid rgba(0,29,72,.12);
        transition: border-color .2s linear;
        border-radius: 6px;
      }

      .amp-custom-carousel4 .amp-scrollable-carousel-slide {
        display: inline-block ;
        margin-left: 1.8%;
      }

      .amp-custom-carousel4 .amp-scrollable-carousel-slide:first-child {
        margin-left: 0px;
      }

      .amp-custom-carousel1 {
        width: 100%;
        margin: 20px 0 0;
      }


      .amp-custom-carousel1 .carousel-card {
        width: 100%;
        position: relative;
        border: none;
        box-shadow: none;
      }
      .amp-custom-carousel1 .carousel-card:focus {
        outline: none;
      }

      .amp-custom-carousel1 .card-img-box {
        width: 23.4042553191%;
        margin: 5px 0 5px 3px;
        height: 212px;
      }

      .amp-custom-carousel1 .card-img-box .card-img-link {
        min-height: 213px;
      }
      .amp-custom-carousel1 .card-img-box .card-img-link amp-img {
        min-height: 213px;
        height: 100%;
      }
      .amp-custom-carousel1 .card-img-box .card-img-link amp-img img {
        border-radius: 6px;
        box-shadow: 0 2px 4px 0 #ccc;
        border: 1px solid rgba(0,29,72,.12);
        height: 100%;
      }

      .amp-custom-carousel3 {
        width: 100%;
        margin: 20px 0 20px;
      }

      .amp-carousel-button {
        background: #fff;
        width: 32px;
        height: 43px;
        border-radius: 0;
        border: 1px solid #dfe0e4;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .amp-carousel-button:before {
        border-style: solid;
        border-width: 3px 3px 0 0;
        content: '';
        display: inline-block;
        height: 10px;
        left: 0.15em;
        position: relative;
        top: 0;
        transform: rotate(-45deg);
        vertical-align: top;
        width: 10px;
      }

      .amp-carousel-button.amp-carousel-button-prev {
        left: 0;
      }
      .amp-carousel-button.amp-carousel-button-prev:before {
        left: 0;
        transform: rotate(225deg);
      }
      .amp-carousel-button.amp-carousel-button-next {
        right: 0;
      }
      .amp-carousel-button.amp-carousel-button-next:before {
        left: 0;
        transform: rotate(45deg);
      }

      .carousel-card {
        width: 31.914893617%;
        position: relative;
        box-shadow: 0 2px 4px 0 #ccc;
        border: 1px solid rgba(0,29,72,.12);
        transition: border-color .2s linear;
        border-radius: 6px;
      }
      .carousel-card:hover {
        border-color: #999;
      }

      .card-img-box {
        position: relative;
      }

      .card-img-box .favorite-icon {
        position: absolute;
        right: 8px;
        top: 5px;
        height: 32px;
        width: 32px;
        background-color: #fff;
        border-radius: 16px;
        padding: 7px 0 0;
        box-sizing: border-box;
      }

      .card-img-box .favorite-icon amp-img {
        height: 72%;
      }

      .card-img-box .card-img-link {
        display: block;
        min-height: 206.25px;
      }

      .card-img-link .card-img {
        height: 206.25px;
        width: 100%;
      }
      .card-img-link .card-img amp-img img {
        border-radius: 6px 6px 0 0;
      }

      .card-img-link .card-value {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        padding: 10px;
        font-weight: 700;
        text-shadow: 0 0 10px #000;
        text-align: right;
        color: #fff;
      }

      .card-value .price {
        font-size: 22px;
        line-height: 1.3;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 700;
        margin-bottom: 5px;
      }

      .card-value .summary {
        font-size: 13px;
        line-height: 1.3;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .card-detail {
        padding: 10px;
        display: flex;
        flex-direction: column;
        border-radius: 0 0 6px 6px;
      }

      .card-detail .card-title {
        font-size: 17px;
        line-height: 1.3;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 700;
        color: #2b476d;
        display: block;
        margin-bottom: 5px;
        text-decoration: none;
      }

      .card-detail i {
        padding-left: 5px;
      }

      .card-detail .card-user {
        font-size: 13px;
        line-height: 1.3;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #757584;
        text-decoration: none;
      }

      .card-detail .card-footer {
        display: flex;
        justify-content: space-between;
      }

      .card-footer .footer-left {
        font-size: 13px;
        line-height: 1.3;
        color: #8391a5;
      }

      .card-footer .contact-btn {
        display: flex;
        border-radius: 3px;
        transition: background-color .2s linear;
        background-color: #ff9100;
        color: #fff;
        font-size: 16px;
        line-height: 1.3;
        height: 38px;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 105px;
      }
      .card-footer .contact-btn:hover {
        background-color: #e68300;
        transition: background-color .2s linear;
      }

      .link-btn {
        margin: 0 auto 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        font-size: 16px;
        padding: 0 20px;
        height: 38px;
        border: 1px solid #ff9100;
        background-color: #fff;
        color: #ff9100;
        text-decoration: none;
        border-radius: 3px;
        transition: background-color .2s linear;
      }
      .link-btn:hover {
        color: #fff;
        background-color: #ff9100;
      }

      .custom-accordian {
        margin: 0 0 30px;
      }

      .custom-accordian .accordion-eMenu_c {
        margin: 0 0 20px;
      }

      .custom-accordian .accordion-eMenu_c .page--title[aria-expanded="true"] i {
        transform: rotate(90deg);
      }

      .custom-accordian .accordion-eMenu_c .page--title {
        display: flex !important;
        border: none;
        background: transparent;
        color: #2b476d;
      }
      .custom-accordian .accordion-eMenu_c .page--title:focus {
        outline: none;
      }
      .custom-accordian .accordion-eMenu_c .page-section-title-bar__container {
        width: 100%;
        margin-right: 20px;
      }
      .custom-accordian .accordion-eMenu_c .page--title i {
        font-size: 34px;
        line-height: 34px;
        position: absolute;
        right: 7px;
      }

      .accordian-footer-text {
        font-size: 13px;
        line-height: 1.3;
        text-align: center;
        color: #757584;
        font-style: italic;
        margin: 0 auto;
        width: fit-content;
      }

      .market-data-overview {
        margin: 20px 0 30px;
      }
      .market-data-overview .market-data-overview-frame {
        padding: 10px;
        background-color: #f5f5f5;
        border: 1px solid rgba(0, 0, 0, .2);
      }

      .market-data-overview-container {
        padding: 20px;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 3px;
        background-color: #fff;
      }

      .cell--buildings--transaction--market-data-overview__header {
        height: auto;
        padding-bottom: 10px;
        position: relative;
        display: flex;
      }

      .cell--buildings--transaction--market-data-overview__header .cell--buildings--transaction--market-data-overview__tiles {
        float: left;
        width: 25%;
        margin-left: 0;
        height: 76px;
        margin-right: 10px;
        box-sizing: border-box;
      }

      .cell--buildings--transaction--market-data-overview__tiles-container {
        display: block;
        padding: 10px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 3px;
        border: 1px solid rgba(0,0,0,.12);
        box-sizing: border-box;
      }

      .cell--buildings--transaction--market-data-overview__tiles-container__title {
        font-size: 16px;
        line-height: 1.3;
        display: block;
        padding-bottom: 10px;
      }
      .cell--buildings--transaction--market-data-overview__tiles-container__title-time-period {
        color: #aeaeae;
      }
      .cell--buildings--transaction--market-data-overview__tiles-container__title-change {
        color: #17b905;
      }

      .cell--buildings--transaction--market-data-overview__highcharts-sidebar__duration_data_box {
        font-size: 16px;
        font-size: 1.0666666667rem;
        line-height: 1.3;
        line-height: 40px;
        color: #9f9f9f;
        text-align: center;
        border-right: 1px solid rgba(0,0,0,.12);
        list-style-type: none;
      }
      .cell--buildings--transaction--market-data-overview__tiles-container__content {
        font-size: 22px;
        line-height: 1.3;
        font-weight: 700;
        color: #2b476d;
        display: block;
      }

      .cell--buildings--transaction--market-data-overview__highcharts-sidebar__duration-frame {
        width: 260px;
        position: absolute;
        top: 0;
        right: 0;
      }
      .cell--buildings--transaction--market-data-overview__highcharts-sidebar__duration_data {
        display: flex;
        padding: 0;
        margin: 0;
        border-radius: 3px;
        border: 1px solid rgba(0,0,0,.12);
      }
      .cell--buildings--transaction--market-data-overview__highcharts-sidebar__duration_data_box {
        float: left;
        width: 25%;
        margin-left: 0;
        margin-right: 0;
        cursor: pointer;
      }
      .cell--buildings--transaction--market-data-overview__highcharts-sidebar__duration_data_box:hover {
        color: #2b476d;
        font-weight: 700;
      }
      .cell--buildings--transaction--market-data-overview__highcharts-sidebar__duration_data_box.with-data--selected {
        background-color: #2b476d;
        color: #fff;
      }
      .cell--buildings--transaction--market-data-overview__highcharts-sidebar__duration_data_box.with-data--selected:hover {
        color: #ffffff;
        font-weight: 700;
      }

      .transaction-record-table-box {
        margin: 20px 0 30px;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }

      .transaction-record-table-box table {
        width: 100%;
        border-spacing: 0;
      }
      .transaction-record-table-box table thead {
        border-bottom: 1px solid #ccc;
      }

      .transaction-record-table-box table thead th {
        background-color: #f5f5f5;
        color: #2b476d;
        text-transform: none;
        font-size: 13px;
        line-height: 1;
        padding: 10px 20px;
        vertical-align: top;
        text-align: left;
        font-weight: 700;
      }

      .transaction-record-table-box table .transaction-date {
        width: 160px;
      }
      .transaction-record-table-box table .table-price {
        width: 125px;
        padding-left: 0px;
      }
      .transaction-record-table-box table .net-area {
        width: 116px;
        padding-left: 0px;
      }
      .transaction-record-table-box table .net-area-unit {
        width: 132px;
        padding-left: 0px;
      }
      .transaction-record-table-box table .table-floor, .table-flat {
        width: 96px;
        padding-left: 0px;
      }

      .transaction-record-table-box table tbody tr {
      }

      .transaction-record-table-box table tbody tr td {
        padding: 13px 20px;
        font-size: 16px;
        vertical-align: middle;
        border-top: 1px solid #ccc;
      }

      .cell-listing_snapshot-box.cell-with-version-desktop {
        border: 1px solid #ccc;
        color: #2b476d;
        margin: 20px 0 30px;
      }

      .cell-listing_snapshot-box .cell-listing_snapshot-box--row {
        display: table;
        width: 100%;
        margin-bottom: 30px;
      }

      .cell-listing_snapshot-box .cell-listing_snapshot-box--row:last-child {
        margin-bottom: 0;
      }

      .cell-listing_snapshot-box .cell-listing_snapshot-box--col {
        float: left;
        width: 50%;
        margin-left: 0;
        margin-right: 0;
      }

      .cell-listing_snapshot-box .cell-listing_snapshot-box__col__heading {
        display: block;
        text-align: center;
        margin-top: 38px;
        height: 60px;
      }

      .cell-listing_snapshot-box .cell-listing_snapshot-box__col__heading--text {
        font-size: 22px;
        line-height: 1.3;
        color: #1b3960;
      }

      .cell-listing_snapshot-box .cell-listing_snapshot-box__default-text {
        font-size: 17px;
        line-height: 1.3;
        color: #757584;
        display: block;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .cell-listing_snapshot-box.cell-with-version-desktop .cell-listing_snapshot-box__col-inner {
        height: 267px;
        line-height: 267px;
      }

      .cell-listing_snapshot-box .cell-listing_snapshot-box__col__content {
        padding: 20px;
        display: inline-block;
        vertical-align: middle;
        width: 100%;
      }

      .cell-listing_snapshot-box .cell-listing_snapshot-box__col__body {
        display: block;
        text-align: center;
        font-size: 17px;
        line-height: 1.3;
      }

      .cell-listing_snapshot-box.cell-with-version-desktop .cell-listing_snapshot-box__quantity {
        font-size: 56px;
        line-height: 1.3;
        color: #1b3960;
        font-weight: 700;
        padding: 5px 0;
      }

      .cell-listing_snapshot-box .cell-listing_snapshot-box__col__chart {
        width: 90%;
        position: relative;
        display: inline-block;
      }

      .cell-listing_snapshot-box .cell-listing_snapshot-box__col__chart__section {
        float: left;
        margin-left: 2.1276595745%;
        width: 31.914893617%;
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;
        display: block;
      }

      .cell-listing_snapshot-box .cell-listing_snapshot-box__col__chart__section:first-child {
        margin-left: 0;
      }

      .cell-listing_snapshot-box .cell-listing_snapshot-box__col__chart__section__bar_container {
        height: 150px;
        position: relative;
      }

      .cell-listing_snapshot-box.cell-with-version-desktop .cell-listing_snapshot-box__col__chart__section__label {
        font-size: 16px;
        line-height: 1.3;
        margin-top: 5px;
        height: 20px;
        position: relative;
      }

      .cell-listing_snapshot-box .cell-listing_snapshot-box__col__chart__section__bar_container {
        height: 150px;
        position: relative;
      }

      .cell-listing_snapshot-box .cell-listing_snapshot-box__col__chart__section__bar {
        color: #fff;
        text-align: left;
        font-style: italic;
        position: absolute;
        bottom: 0;
      }

      .cell-listing_snapshot-box .cell-listing_snapshot-box__col__chart__section__bar.area {
        background-color: #ff9100;
        font-size: 9pt;
        right: 50%;
      }

      .cell-listing_snapshot-box.cell-with-version-desktop .cell-listing_snapshot-box__col__chart__section__bar {
        width: 64px;
        padding: 0;
      }

      .cell-listing_snapshot-box.cell-with-version-desktop .cell-listing_snapshot-box__col__chart__section__bar__label {
        max-width: 80px;
        font-size: 13px;
      }

      .cell-listing_snapshot-box .cell-listing_snapshot-box__col__chart__section__bar.area .cell-listing_snapshot-box__col__chart__section__bar__label {
        top: -20px;
        position: absolute;
        color: #ff9100;
        text-align: center;
        right: 5px;
      }

      .cell-listing_snapshot-box .cell-listing_snapshot-box__col__chart__section__bar.parent_area {
        background-color: #1b3960;
        font-size: 9pt;
        left: 50%;
      }

      .cell-listing_snapshot-box .cell-listing_snapshot-box__col__chart__section__bar.parent_area .cell-listing_snapshot-box__col__chart__section__bar__label {
        top: -20px;
        position: absolute;
        color: #1b3960;
        text-align: center;
        left: 5px;
      }

      .cell-listing_snapshot-box .cell-listing_snapshot-box__col__chart__footing {
        position: relative;
        font-size: 13px;
        font-size: .8666666667rem;
        line-height: 1.3;
      }

      .cell-listing_snapshot-box .cell-listing_snapshot-box__col__chart__footing span {
        display: inline-block;
      }

      .cell-listing_snapshot-box .cell-listing_snapshot-box__col__chart__footing .legend__area {
        height: 10px;
        width: 10px;
        background-color: #ff9100;
      }

      .cell-listing_snapshot-box .cell-listing_snapshot-box__col__chart__footing .legend__parent_area {
        margin-left: 10px;
        height: 10px;
        width: 10px;
        background-color: #1b3960;
      }

      .cell--cities--public-transport--info.cell--with-state--desktop {
        border: 1px solid #ccc;
        margin: 20px 0 0;
      }

      .cell--cities--public-transport--info .map-container {
        position: relative;
      }

      .cell--cities--public-transport--info.cell--with-state--desktop #map-canvas__listing-transit {
        height: 400px;
      }
      .responsive-map-container {
        position: relative;
        padding-bottom: 30.9%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
      }

      .responsive-map-container iframe,   
      .responsive-map-container object,  
      .responsive-map-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
        touch-action: none;
      }
      .leaflet-container.leaflet-touch-drag {
        touch-action: none;
        touch-action: pinch-zoom;
      }
      .leaflet-container.leaflet-touch-zoom {
        touch-action: pan-x pan-y;
      }

      .map-canvas {
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
      }
      .leaflet-container {
        background: #ddd;
        outline: 0;
        font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
        -webkit-tap-highlight-color: transparent;
        overflow: hidden;
      }
  
      .leaflet-grab {
        cursor: -webkit-grab;
        cursor: grab;
      }

      .cell--cities--public-transport--info.cell--with-state--desktop .map-sidebar {
        width: 277px;
      }
      .map-sidebar {
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 1001;
        box-shadow: 5px 0 5px rgba(0,0,0,.15);
        width: 250px;
        background-color: #f5f5f5;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: absolute;
      }

      .map-sidebar .map-sidebar-section__item-list {
        max-height: 100%;
        overflow: auto;
      }

      .cell--cities--public-transport--info.cell--with-state--desktop .cell--cities--public-transport--info--mode {
        font-size: 16px;
        line-height: 1.3;
        background-color: #2b476d;
        color: #fff;
        padding: 5px 10px;
        display: flex;
      }

      .cell--cities--public-transport--info.cell--with-state--desktop .cell--cities--public-transport--info--mode--icon {
        height: 20px;
        line-height: 20px;
        vertical-align: top;
        width: 24px;
        margin: 0 3px 0 0;
      }

      .cell--cities--public-transport--info.cell--with-state--desktop .cell--cities--public-transport--info--mode--text {
        padding-left: 5px;
        line-height: 20px;
      }

      .cell--cities--public-transport--info.cell--with-state--desktop .cell--cities--public-transport--info--stop {
        padding: 5px 10px 10px;
      }

      .cell--cities--public-transport--info.cell--with-state--desktop .cell--cities--public-transport--info--stop__head {
        padding-bottom: 4px;
      }
      .cell--cities--public-transport--info .cell--cities--public-transport--info--stop__head-distance, .cell--cities--public-transport--info .cell--cities--public-transport--info--stop__head-title {
        font-size: 13px;
        line-height: 1.3;
      }
      .cell--cities--public-transport--info .cell--cities--public-transport--info--stop__head-title {
        color: #333;
      }
      .cell--cities--public-transport--info .cell--cities--public-transport--info--stop__head-distance {
        color: #858596;
      }

      .cell--cities--public-transport--info.cell--with-state--desktop .cell--cities--public-transport--info--route {
        display: block;
        border: 1px solid;
        padding: 6px 4px;
        border-radius: 2px;
        text-decoration: none;
        color: #000;
        display: flex;
        justify-content: center;
      }
      .cell--cities--public-transport--info .cell--cities--public-transport--info--route {
        border: 1px solid;
        border-radius: 4px;
        padding: 0;
        display: block;
        text-decoration: none;
        color: #000;
        background-color: #fff;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
      }

      .cell--cities--public-transport--info .cell--cities--public-transport--info--route--logo {
        height: 20px;
        vertical-align: top;
      }

      .cell--cities--public-transport--info .cell--cities--public-transport--info--route__name {
        font-size: 16px;
        line-height: 1.3;
      }

      .cell--cities--public-transport--info.cell--with-state--desktop .cell--cities--public-transport--info--route__company_id-title {
        font-size: 12px;
        line-height: 1.3;
        font-style: italic;
      }
      .cell--cities--public-transport--info.cell--with-state--desktop .cell--cities--public-transport--info--route__company_id-title:after {
        display: block;
        content: "";
        clear: both;
      }
      .cell--cities--public-transport--info.cell--with-state--desktop .cell--cities--public-transport--info--route__company_id:after {
        display: block;
        content: "";
        clear: both;
      }

      .cell--cities--public-transport--info.cell--with-state--desktop .cell--cities--public-transport--info--item {
        float: left;
        width: 25%;
        margin-left: 0;
        margin-right: 0;
        padding: 2px;
      }

      .cell--cities--public-transport--info.cell--with-state--desktop .cell--cities--public-transport--info--route {
        display: flex;
        justify-content: center;
        border: 1px solid;
        padding: 6px 4px;
        border-radius: 2px;
        text-decoration: none;
        color: #000;
      }
      .cell--cities--public-transport--info .cell--cities--public-transport--info--route {
        border: 1px solid;
        border-radius: 4px;
        padding: 0;
        display: block;
        text-decoration: none;
        color: #000;
        background-color: #fff;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
      }

      .double_link {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .double_link .link-btn {
        margin: 0 60px 30px 0;
      }

      .double_link .link-btn:nth-last-of-type(1) {
        margin: 0 0 30px 0;
      }

      .page--buildings--shared--desktop_ver--other-buildings {
        background-color: #f5f5f5;
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
      }

      .page--buildings--shared--desktop_ver--other-buildings .page--buildings--shared--desktop_ver--other-buildings--head {
        margin-bottom: 20px;
      }

      .page--buildings--shared--desktop_ver--other-buildings .page--buildings--shared--desktop_ver--other-buildings--subheading {
        font-size: 17px;
        line-height: 1.3;
        color: #757584;
        margin-bottom: 20px;
      }

      .page--buildings--shared--desktop_ver--other-buildings .page--buildings--shared--desktop_ver--other-buildings--col:first-child {
        margin-left: 0;
      }
      .page--buildings--shared--desktop_ver--other-buildings .page--buildings--shared--desktop_ver--other-buildings--col {
        float: left;
        margin-left: 2.1276595745%;
        width: 23.4042553191%;
        margin-bottom: 10px;
      }

      .page--buildings--shared--desktop_ver--other-buildings .page--buildings--shared--desktop_ver--other-buildings-link {
        font-size: 16px;
        line-height: 1.3;
        color: #2b476d;
        text-decoration: none;
      }

      .main-footer {
        display: block;
        padding-top: 50px;
        padding-bottom: 50px;
        min-width: 1200px;
        position: relative;
        color: #fff;
        background-color: #1d3960;
      }

      .main-footer .main-footer__row {
        margin: 0;
        border-bottom: 2px solid hsla(0,0%,100%,.3);
      }

      .main-footer .main-footer__section--main {
        padding-top: 0;
        padding-bottom: 50px;
      }

      .main-footer .main-footer__col:first-child {
        margin-left: 0;
      }
      
      .main-footer .main-footer__col {
        float: left;
        margin-left: 2.1276595745%;
        width: 23.4042553191%;
      }

      .main-footer .main-footer__subtitle:first-child {
        margin-top: 0;
      }
      
      .main-footer .main-footer__subtitle {
        margin-bottom: 12px;
        border-bottom: 2px solid #fff;
        padding-bottom: 5px;
        font-size: 18px;
        line-height: 1.3;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 60px;
        letter-spacing: .8px;
      }

      .main-footer .main-footer__link--with-icon .main-footer__link--text:hover, .main-footer .main-footer__link:hover {
        color: #ff9100;
        text-decoration: none;
      }
      .main-footer .main-footer__link, .main-footer .main-footer__link--with-icon {
        position: relative;
        margin-bottom: 15px;
        display: block;
        text-decoration: none;
        font-size: 14px;
        line-height: 1.3;
        color: #fff;
      }

      .main-footer .main-footer__link--with-icon {
        padding-right: 80px;
      }

      .main-footer .main-footer__link--icon {
        border-radius: 3px;
        font-size: 13px;
        line-height: 1.3;
        background-color: #42ca9b;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding-left: 11px;
        padding-right: 11px;
        height: 26px;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
      }

      .main-footer .main-footer__row {
        display: flex;
        margin: 0;
        border-bottom: 2px solid hsla(0,0%,100%,.3);
      }

      .main-footer .main-footer__section--spacious {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
      }

      .main-footer .main-footer__section--spacious--logo-container {
        float: left;
        width: 25%;
        margin-left: 0;
        margin-right: 0;
      }

      .main-footer .main-footer__section--spacious--logo--image {
        width: 230px;
        height: 80px;
      }

      .main-footer .main-footer__section--spacious--city-selector {
        float: left;
        width: 16.6666666667%;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
      }

      .main-footer .main-footer__section--city-link {
        font-size: 18px;
        line-height: 1.3;
        display: block;
        color: #ffffff;
        text-decoration: none;
        margin-bottom: 9px;
      }
      .main-footer .main-footer__section--city-link:hover {
        color: #ff9100;
        text-decoration: none;
      }

      .main-footer .main-footer__section--spacious--address {
        float: left;
        width: 25%;
        margin-left: 0;
        margin-right: 0;
        font-size: 18px;
        line-height: 1.3;
      }
      .main-footer .main-footer__section--spacious--address--text:first-child {
        margin-top: 0;
      }
      .main-footer .main-footer__section--spacious--address--text {
        margin-top: 20px;
        color: #fff;
      }
      .main-footer .main-footer__section--spacious--address--text p {
        margin: 0 0 10px;
      }

      .main-footer .main-footer__section--spacious--address--text a {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid rgba(0,0,0,.5);
        transition: border .5s ease;
      }
      .main-footer .main-footer__section--spacious--social-links {
        margin-top: 20px;
        display: flex;
      }
      .main-footer .main-footer__section--spacious--social-link {
        margin-right: 20px;
        text-decoration: none;
      }
      .main-footer .main-footer__section--spacious--social-link-image {
        height: auto;
        width: 29px;
      }

      .main-footer .main-footer__section--spacious--mobile-links {
        float: left;
        width: 33.3333333333%;
        margin-left: 0;
        margin-right: 0;
      }
      .main-footer .main-footer__section--spacious--mobile-links--title {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.3;
        text-align: center;
      }
      .cell--mobile-apps--searcher-app--download-link {
        padding-bottom: 20px;
        padding-top: 20px;
      }
      .cell--mobile-apps--searcher-app--download-link .cell--mobile-apps--searcher-app--download-link__actions {
        position: relative;
        margin-bottom: 20px;
      }
      .cell--mobile-apps--searcher-app--download-link .cell--mobile-apps--searcher-app--download-link__actions:after {
        display: block;
        content: "";
        clear: both;
      }

      .cell--mobile-apps--searcher-app--download-link .cell--mobile-apps--searcher-app--download-link__rating {
        text-align: center;
        font-size: 13px;
        line-height: 1.3;
        display: flex;
        justify-content: center;
      }

      .cell--mobile-apps--searcher-app--download-link .cell--mobile-apps--searcher-app--download-link__rating--stars {
        width: 106px;
        height: 16px;
        line-height: 16px;
        vertical-align: top;
        margin-right: 10px;
      }

      .cell--mobile-apps--searcher-app--download-link .cell--mobile-apps--searcher-app--download-link__links {
        text-align: center;
      }

      .cell--mobile-apps--searcher-app--download-link .cell--mobile-apps--searcher-app--download-link__links__mobile-searcher-app-apple-link:first-child, .cell--mobile-apps--searcher-app--download-link .cell--mobile-apps--searcher-app--download-link__links__mobile-searcher-app-google-link:first-child {
        margin-left: 0;
      }
      
      .cell--mobile-apps--searcher-app--download-link .cell--mobile-apps--searcher-app--download-link__links__mobile-searcher-app-apple-link {
        text-align: right;
      }

      .cell--mobile-apps--searcher-app--download-link__links__mobile-searcher-app-apple-link.GTM-tracking-footer-app-ios amp-img {
        height: 100%;
        width: 100%;
        max-width: 160px;
      }

      .cell--mobile-apps--searcher-app--download-link__links__mobile-searcher-app-google-link.GTM-tracking-footer-app-ios amp-img {
        height: 100%;
        width: 100%;
        max-width: 160px;
      }
      
      .cell--mobile-apps--searcher-app--download-link .cell--mobile-apps--searcher-app--download-link__links__mobile-searcher-app-apple-link, .cell--mobile-apps--searcher-app--download-link .cell--mobile-apps--searcher-app--download-link__links__mobile-searcher-app-google-link {
        float: left;
        margin-left: 2.1276595745%;
        width: 48.9361702128%;
        vertical-align: middle;
      }

      .cell--mobile-apps--searcher-app--download-link .cell--mobile-apps--searcher-app--download-link__actions--get {
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: relative;
        max-width: 250px;
      }

      .cell--mobile-apps--searcher-app--download-link .cell--mobile-apps--searcher-app--download-link__actions--qr_code {
        position: absolute;
        top: 0;
        left: 0;
        width: 65px;
        height: 65px;
      }

      .cell--mobile-apps--searcher-app--download-link__actions--qr_code-body amp-img {
        height: 100%;
        width: 100%;
      }

      .cell--mobile-apps--searcher-app--download-link .cell--mobile-apps--searcher-app--download-link__lister-app-link {
        font-size: 12px;
        line-height: 1.3;
        color: #fff;
        text-align: left;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 85px;
      }

      .cell--mobile-apps--searcher-app--download-link .cell--mobile-apps--searcher-app--download-link__lister-app-link a, .cell--mobile-apps--searcher-app--download-link .cell--mobile-apps--searcher-app--download-link__lister-app-link a:active, .cell--mobile-apps--searcher-app--download-link .cell--mobile-apps--searcher-app--download-link__lister-app-link a:focus, .cell--mobile-apps--searcher-app--download-link .cell--mobile-apps--searcher-app--download-link__lister-app-link a:hover, .cell--mobile-apps--searcher-app--download-link .cell--mobile-apps--searcher-app--download-link__lister-app-link a:visited {
        color: #ff9100;
        text-decoration: underline;
      }

      .cell--mobile-apps--searcher-app--download-link .page-section--download-app__mobile-lister-app-links {
        display: block;
      }

      .main-footer .main-footer__row:last-child {
        border-bottom: 0;
      }
      .main-footer .main-footer__row {
        margin: 0;
        border-bottom: 2px solid hsla(0,0%,100%,.3);
      }
      .main-footer .main-footer__section--copyright {
        font-size: 12px;
        line-height: 1.3;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: right;
        width: 100%;
      }

      .main-footer__section--copyright-link {
        color: #fff;
        text-decoration: none;
      }
      .main-footer .main-footer__section--copyright-link:hover {
        color: #ff9100;
        
      }
      .main-footer .main-footer__section--copyright--copyright {
        font-weight: 700;
      }

      .normal-link a {
        text-align: center;display: block;margin-top: 30px;
      }

      @media screen and (max-width: 992px) {
        body {
          box-sizing: border-box;
          padding: 0 0 50px;
        }

        .normal-link {
          margin: 0 0 12px;
        }

        .topbar-wrapper {
          padding: 7px 5px;
        }

        .sidebar-content-list {
          margin: 0;
          padding: 0;
        }

        .mobile-navbar {
          background: #1b3861;
          display: flex;
          padding: 0 12px;
          height: 62px;
          justify-content: center;
          align-items: center;
          position: relative;
        }

        .mobile-navbar .open-sidebar {
          display: flex;
          position: absolute;
          left: 12px;
        }

        .mobile-navbar .open-sidebar svg {
          height: 20px;
          width: 20px;
        }

        .mobile-navbar amp-img {
          height: 42px;
          width: 110px;
        }

        .sample-sidebar {
          padding: 36px 0 0;
        }

        .sample-sidebar .close-btn {
          position: absolute;
          right: 10px;
          top: 10px;
          border: none;
          background: none;
        }

        .sample-sidebar .close-btn:hover, .sample-sidebar .close-btn:focus {
          outline: none;
        }

        .sample-sidebar .close-btn svg {
          height: 14px;
          width: 14px;
        }

        .topbar {
          flex-direction: column;
          align-items: flex-start;
        }

        .topbar-left {
          flex-direction: column-reverse;
          align-items: flex-start;
          width: 100%;
        }

        .dropdown .dropdown-content {
          left: 0;
          right: initial;
          z-index: 10;
        }

        .topbar-left .nvbr-list-options {
          margin: 0;
          flex-direction: column;
          width: 100%;
        }

        .topbar-right {
          margin: 14px 0 0;
        }

        .nvbr-list-options li {
          margin: 0 0 10px;
        }

        .subheader-wrapper {
          padding: 12px 5px;
        }

        .subheader-wrapper .topbar {
          position: relative;
          padding: 40px 0 0;
        }

        .subheader-wrapper .topbar amp-img {
          position: absolute;
          left: 0;
          top: 0;
        }

        .subheader-wrapper .nvbr-list-options {
          height: fit-content;
          margin: 0;
          display: flex;
          flex-direction: column;
        }

        .subheader-wrapper .topbar .reg-options {
          position: absolute;
          right: 0;
          top: 0;
        }

        .region-navbar {
          padding: 0 12px;
        }

        .main-page {
          display: flex;
          flex-direction: column;
          padding: 0 12px;
        }

        .container {
          width: 100%;
          padding: 0;
        }

        .col-9 {
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%;
        }
        .col-3 {
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%;
          margin: 0 0 30px;
        }

        .following--box--action {
          position: fixed;
          bottom: 0;
          width: 100%;
          left: 0;
          height: 50px;
          font-size: 18px;
          z-index: 10;
        }

        .double_link {
          flex-direction: column;
        }
        .double_link .link-btn {
          margin: 0 0px 30px 0;
        }

        .page--buildings--shared--desktop_ver--other-buildings {
          margin: 0 -15px;
          padding: 50px 15px;
        }

        .main-footer {
          min-width: 100%;
          width: 100%;
          display: flex;
          margin: 0 -15px;
          padding: 50px 15px;
        }

        .main-footer .main-footer__row {
          flex-direction: column;
        }
        .main-footer .main-footer__section--main {
          display: flex;
          flex-direction: column;
        }
        .main-footer .main-footer__col {
          width: 100%;
          margin: 0;
        }

        .main-footer .main-footer__section--spacious--logo-container {
          width: 100%;
          margin: 0 0 20px;
          text-align: center;
          float: initial;
          display: flex;
          justify-content: center;
        }
        .main-footer .main-footer__section--spacious--social-links {
          justify-content: center;
        }

        .main-footer .main-footer__section--spacious--city-selector {
          width: 100%;
          text-align: center;
        }
        .main-footer .main-footer__section--spacious--address {
          width: 100%;
          text-align: center;
          margin: 0 0 20px;
        }

        .main-footer .main-footer__section--spacious--mobile-links {
          width: 100%;
        }
        .main-footer .main-footer__section--copyright {
          width: 100%;
          display: flex;
          flex-direction: column;
          text-align: center;
        }
        .carousel-card {
          width: 100%;
          margin: 0;
        }
        .amp-custom-carousel4 .carousel-card {
          width: 100%;
          margin: 0;
        }
        .amp-custom-carousel1 .card-img-box {
          width: 100%;
        }

        .market-data-overview-container {
          padding: 6px;
        }
        .cell--buildings--transaction--market-data-overview__header {
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;
        }
        .cell--buildings--transaction--market-data-overview__highcharts-sidebar__duration-frame {
          position: initial;
        }
        .cell--buildings--transaction--market-data-overview__header .cell--buildings--transaction--market-data-overview__tiles {
          width: 100%;
          margin: 10px 0 0;
        }

        div#highcharts-yuq8wg4-0 {
          width: 100% !important;
        }
        svg.highcharts-root {
          width: 100%;
        }

        .transaction-record-table-box {
          overflow: hidden;
          overflow-x: auto;
        }
        .transaction-record-table-box table {
          width: 800px;
        }

        .cell-listing_snapshot-box .cell-listing_snapshot-box--row {
          display: flex;
          flex-direction: column;
        }

        .cell-listing_snapshot-box .cell-listing_snapshot-box--col {
          width: 100%;
        }
        .cell-listing_snapshot-box .cell-listing_snapshot-box__col__content {
          box-sizing: border-box;
        }
        .page--title .page--title-text {
          font-size: 18px;
        }
        .cell--cities--public-transport--info.cell--with-state--desktop .map-sidebar {
          position: initial;
          height: 300px;
          width: 100%;
        }
      }

      @media screen and (min-width: 768px) and (max-width: 992px) {
        .carousel-card {
          width: 50%;
        }

        .amp-custom-carousel4 .carousel-card {
          width: 50%;
        }
      }

      @media screen and (min-width: 992px) and (max-width: 1024px) {
        body {
          box-sizing: border-box;
        }

        .carousel-card {
          width: 50%;
        }

        .amp-custom-carousel4 .carousel-card {
          width: 33.33%;
        }

        .topbar-wrapper {
          padding: 7px;
        }

        .topbar-left {
          flex-direction: row;
          align-items: center;
          width: 80%;
        }

        .dropdown .dropdown-content {
          left: 0;
          right: initial;
          z-index: 10;
        }

        .topbar-left .nvbr-list-options {
          margin: 0;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          width: calc(100% - 180px);
        }

        .nvbr-list-options li {
          margin: 0;
        }

        .subheader-wrapper {
          padding: 12px;
          white-space: nowrap;
        }
        .region-navbar {
          padding: 0 12px;
        }

        .main-page {
          display: flex;
          flex-direction: column;
          padding: 0 12px;
        }

        .container {
          width: 100%;
          padding: 0;
        }

        .col-9 {
          -ms-flex: 0 0 65%;
          flex: 0 0 65%;
          max-width: 65%;
        }
        .col-3 {
          -ms-flex: 0 0 34%;
          flex: 0 0 34%;
          max-width: 34%;
        }

        .page--buildings--shared--desktop_ver--other-buildings {
          margin: 0 -12px;
          padding: 50px 12px;
        }

        .main-footer {
          box-sizing: border-box;
          min-width: 100%;
          margin: 0 -12px;
          padding: 50px 12px;
        }
      }
    </style>
    <script 
      async 
      custom-element="amp-carousel" 
      src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"
    ></script>
    <script 
      async 
      custom-element="amp-accordion" 
      src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"
    ></script>
    <script 
      async 
      custom-element="amp-iframe" 
      src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"
    ></script>
    <script 
      async 
      custom-element="amp-bind" 
      src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"
    ></script>
    <script 
      async 
      custom-element="amp-sidebar" 
      src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"
    ></script>
    <script 
      async 
      custom-element="amp-lightbox" 
      src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"
    ></script>
    <script 
      async 
      custom-element="amp-form" 
      src="https://cdn.ampproject.org/v0/amp-form-0.1.js"
    ></script>
    <script 
      async 
      custom-element="amp-ad" 
      src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"
    ></script>
    <style amp-boilerplate>
      body {
        -webkit-animation: -amp-start 8s steps(1,end) 0s 1 normal both;
        -moz-animation: -amp-start 8s steps(1,end) 0s 1 normal both;
        -ms-animation: -amp-start 8s steps(1,end) 0s 1 normal both;animation: 
        -amp-start 8s steps(1,end) 0s 1 normal both;
      }
      @-webkit-keyframes -amp-start {
        from { 
          visibility: hidden
          }
        to { 
          visibility: visible 
        }
      }
      @-moz-keyframes -amp-start{
        from { 
          visibility: hidden
        } 
        to { 
          visibility: visible
        }
      }
      @-ms-keyframes -amp-start{
        from { 
          visibility: hidden
        }
        to { visibility: visible
        }
      }
      @-o-keyframes -amp-start { 
        from { 
          visibility: hidden 
        }
        to { 
          visibility: visible
        }
      }
      @keyframes -amp-start { 
        from { 
          visibility: hidden 
        } 
        to { 
          visibility: visible 
        }
      }
    </style>
    <noscript>
      <style amp-boilerplate>
        body { 
          -webkit-animation: none;
          -moz-animation: none;
          -ms-animation: none;
          animation: none
        }
      </style>
    </noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet" type="text/css">
    <link rel="canonical" href="https://ampbyexample.com/components/amp-lightbox/">
     
  </head>
  <body class="with-desktop-device user-signed-out page--buildings--single_residential_building_summary_page page-desktop" data-instant-intensity="mousedown" data-instant-whitelist>
    <%= yield %>
  </body>
</html>