<!doctype html>
<%# <html amp> is also valid markup %>
<html ⚡>
  <head>
    <title><%= yield :title %></title>
    <meta charset='utf-8'>
    <%# main AMP library %>
    <%= javascript_include_tag 'https://cdn.ampproject.org/v0.js', async: true %>
    <%# include a canonical reference to regular HTML page. %>
    <%# important: nil format ensures that url is rendered as http://localhost:3000/ rather than http://localhost:3000/index %>
    <link rel="canonical" href="<%= url_for(:only_path => false, format: nil) %>">
    <meta name='viewport' content='width=device-width,minimum-scale=1,initial-scale=1'>
    <%# standard AMP styles %>
    <style amp-boilerplate>
      body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
    </style>
    <%# fallback %>
    <noscript>
      <style amp-boilerplate>
        body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
      </style>
    </noscript>

     <meta charset="utf-8" />
    <meta content="8C50E571B35D9D11F1E4B5764BA49DC8" name="msvalidate.01" />
    <link href="https://plus.google.com/102687049320191769357" rel="publisher" />
    <title>Cherry Crest 翠麗軒 Property For Sale or Rent, Poho｜Spacious</title>   
    <link
      rel="stylesheet"
      media="print"
      href="https://cdn.spacious.hk/assets/apps/spacious_website/render_unblocking/phase_2-767ea7e55cf4aae42167de96b967db9dbc066afae622385cbeffaef2b4b5df4c.css"
      onload="this.onload=null;this.media=&#39;all&#39;;window._spacious_main_css_loaded=true"
    />
    <link rel="preload" as="style" href="https://cdn.spacious.hk/assets/apps/spacious_website/render_unblocking/phase_2-767ea7e55cf4aae42167de96b967db9dbc066afae622385cbeffaef2b4b5df4c.css" />
    
    <link rel="preload" as="style" href="https://cdn.spacious.hk/assets/apps/spacious_website/fonts-d8dca509d27676d83ca80b0ca5fac290546c60baedf80b7b1bbd6ab7e98984e5.css" />
    <link rel="stylesheet" media="print" href="https://cdn.spacious.hk/assets/apps/spacious_website/fonts-d8dca509d27676d83ca80b0ca5fac290546c60baedf80b7b1bbd6ab7e98984e5.css" onload="this.onload=null;this.media=&#39;all&#39;" />
     <script src="https://cdn.spacious.hk/packs/js/es5/es5/apps/spacious_website/runtime-e86dce2ac885be521fa8.js" crossorigin="anonymous" defer></script>
    <script src="https://cdn.spacious.hk/packs/js/es5/es5/apps/spacious_website/chunks/concepts/listings-854511229375c3628502.chunk.js" crossorigin="anonymous" defer></script>
    <script src="https://cdn.spacious.hk/packs/js/es5/es5/apps/spacious_website/chunks/plugins/js-routes-cd48cdbf0e6f9a48a6c2.chunk.js" crossorigin="anonymous" defer></script>
    <script src="https://cdn.spacious.hk/packs/js/es5/es5/apps/spacious_website/chunks/plugins/i18n-js-cd4c05cc8b4a52d82bcc.chunk.js" crossorigin="anonymous" defer></script>
    <script src="https://cdn.spacious.hk/packs/js/es5/es5/apps/spacious_website/chunks/apps-eb4d2733d514f6b2aab8.chunk.js" crossorigin="anonymous" defer></script>
    <script src="https://cdn.spacious.hk/packs/js/es5/es5/apps/spacious_website/chunks/app-b8f2156ecd65d2393afb.chunk.js" crossorigin="anonymous" defer></script>
    <script src="https://cdn.spacious.hk/packs/js/es5/es5/apps/spacious_website/chunks/components-cadcd31ea8b3696f2e44.chunk.js" crossorigin="anonymous" defer></script>
    <script src="https://cdn.spacious.hk/packs/js/es5/es5/apps/spacious_website/chunks/plugins-562d9de8beb98ca38f78.chunk.js" crossorigin="anonymous" defer></script>
    <script src="https://cdn.spacious.hk/packs/js/es5/es5/apps/spacious_website/vendors/leaflet-2216b1d5f2778d22d4cf.chunk.js" crossorigin="anonymous" defer></script>
    <script src="https://cdn.spacious.hk/packs/js/es5/es5/apps/spacious_website/vendors/jquery-e30565a370dbaa8be1c6.chunk.js" crossorigin="anonymous" defer></script>
    <script src="https://cdn.spacious.hk/packs/js/es5/es5/apps/spacious_website/vendors/large_libs-1bfc3d09be9d9a4f0dcc.chunk.js" crossorigin="anonymous" defer></script>
    <script src="https://cdn.spacious.hk/packs/js/es5/es5/apps/spacious_website/chunks/concepts-8d9544c7a9b9a627f0a3.chunk.js" crossorigin="anonymous" defer></script>
    <script src="https://cdn.spacious.hk/packs/js/es5/es5/apps/spacious_website/chunks/pages-bec25cfd33de48452305.chunk.js" crossorigin="anonymous" defer></script>
    <script src="https://cdn.spacious.hk/packs/js/es5/es5/apps/spacious_website/vendors/npm.intl-tel-input-81a1d281d424baa8f2f3.chunk.js" crossorigin="anonymous" defer></script>
    <script src="https://cdn.spacious.hk/packs/js/es5/es5/apps/spacious_website/vendors-ecd4b39e9ad0e72813f2.chunk.js" crossorigin="anonymous" defer></script>
    <script src="https://cdn.spacious.hk/packs/js/es5/es5/apps/spacious_website/default-91b2fdcc0392fad3ea15.chunk.js" crossorigin="anonymous" defer></script>
    <script src="https://cdn.spacious.hk/packs/js/es5/es5/apps/spacious_website/application-c3e946f168435d290cd1.chunk.js" crossorigin="anonymous" defer></script>
  </head>
  <body class="with-desktop-device user-signed-out page--buildings--single_residential_building_summary_page page-desktop" data-instant-intensity="mousedown" data-instant-whitelist>
    <%= yield %>
  </body>
</html>